.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 16px;
}

.button,
.disabledButton,
.currentButton {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid chocolate;
  color: chocolate;
  cursor: pointer;
}

.button {
  transition: 0.3s;
  margin: 0 10px;

  &:hover {
    background-color: chocolate;
    color: white;
  }
}

.disabledButton {
  background-color: rgb(197, 197, 197);
  opacity: 0.6;
  cursor: initial;
  pointer-events: none;
}

.currentButton {
  background-color: chocolate;
  color: white;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .button,
  .currentButton,
  .disabledButton {
    margin: 0 3px;
    font-size: 15px;
    height: 40px;
    width: 40px;
  }
}
