.card {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: black;
  height: 100%;
  cursor: pointer;
  border: 4px solid chocolate;

  .info {
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .add {
      color: red;
      transition: color 0.3s;
      &:hover {
        color: rgb(194, 21, 21);
      }
    }

    .remove,
    .add {
      height: 80px;
      width: 80px;
      margin-bottom: calc(50% + 40px);
      opacity: 0;
    }

    .remove {
      color: white;
      &:hover {
        color: rgb(196, 196, 196);
      }
    }
  }

  h2 {
    color: chocolate;
    opacity: 0;
    text-align: center;
  }
  b {
    opacity: 0;
    color: white;
  }

  .image {
    opacity: 1;
    transition: 0.3s;
    color: white;
  }

  &:hover {
    .image {
      opacity: 0.3;
    }

    .info {
      opacity: 1;
      b {
        color: white;
        position: absolute;
        opacity: 1;
        bottom: 0;
      }
      .add,
      .remove {
        opacity: 1;
      }

      h2 {
        opacity: 1;
      }

      .type {
        right: 10px;
      }

      .year {
        left: 10px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card {
    min-height: 200px;
    .image {
      height: 200px;
    }
    h2 {
      font-size: 14px;
    }
  }
}
