.movies {
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: auto;
  margin-top: 5px;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    border-bottom: 2px solid chocolate;
    margin-bottom: 20px;
  }
  .card {
    margin-bottom: 10px;
  }
}

.search {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  padding-right: 10px;
  height: 50px;
  z-index: 100;
  background-color: #fff;
}
